{% extends 'base.html' %}
{% block title %}Admin - Priorit profile{% endblock %}
{% block content %}
<h1>Admin</h1>
<ol>
    {% for profile in applications %}
    <li>{{ profile.user.full_name }} {{ profile.bio}} {{ profile.courses }} 
    <form method="POST" action="{{ url_for('admin.approve', tutor_id=profile.id) }}">
        <button style="color:green">APPROVE</button>
    </form>

    <form method="POST" action="{{ url_for('admin.reject', tutor_id=profile.id) }}">
        <button style="color:red">REJECT</button>
    </form>
    </li>
    {% endfor %}
</ol>

{% endblock %}