{% extends 'base.html' %}
{% block content %}

<h1>UPLOAD A VIDEO</h1>
<form method="POST"  action="{{ url_for('videos.upload_video') }}">
    {{ form.csrf_token }}

    {{ form.title.label }} {{ form.title }}

    {{ form.course_code.label }} {{ form.course_code }}

    {{ form.description.label }} {{ form.description }}

    {{ form.youtube_url.label }} {{ form.youtube_url }}


    <label>Is free</label>
    <input type="checkbox" name="is_free" value="True">
    

    {{ form.price.label }} {{ form.price }}



    

    <button type="submit">Submit</button>
</form>

{% endblock %}