{% extends 'base.html' %}


{% block content %}

<h1>{{ video.title }}</h1>
<p>{{ video.course_code }} — {{ video.tutor.user.full_name }}</p>
<p>{{ video.description }}</p>

<iframe 
    width="800" 
    height="450" 
    src="https://www.youtube.com/embed/{{ VIDEO_ID }}" 
    allowfullscreen>
</iframe>

<h3>Reviews</h3>
{% if not video.reviews %}
    <h2>No videos Yet</h2>
{% endif %}
<ul>{% for review in video.reviews %}
    <li>{{ review.comment }}</li>
    {% endfor %}
</ul>

    

<h3>Leave a review</h3>
<form action="{{ url_for('videos.review', video_id=video.id) }}" method="POST">

<label>Leave a comment</label>
<input type="textarea" name="comment">

<label for="rating">Rate the video:</label>
<select name="rating" required>
  <option value="" disabled selected>Choose a rating...</option>
  <option value="5">⭐⭐⭐⭐⭐ (Excellent)</option>
  <option value="4">⭐⭐⭐⭐ (Good)</option>
  <option value="3">⭐⭐⭐ (Average)</option>
  <option value="2">⭐⭐ (Poor)</option>
  <option value="1">⭐ (Terrible)</option>
</select>

<button type="submit">Submit</button>
</form>
{% endblock %}