<!doctype html>
<html lang="en">
  <head>
    <title>{% block title %}Priority Tutor{% endblock %}</title>
  </head>

  <style>
    .timed-flash-message {
    animation: fadeOut 0.5s ease 3s forwards;
  }

  @keyframes fadeOut {
    to {
      opacity: 0;
      visibility: hidden;
    }
  }
</style>
  <body>
    <nav>
      <a href="{{ url_for('videos.index') }}">Priority Tutor</a>
      {% if current_user.is_authenticated %}
        <a href="{{ url_for('auth.logout') }}">Logout</a>
        <a href="{{ url_for('users.profile') }}">Profile Page</a>
      {% else %}
        <a href="{{ url_for('auth.login') }}">Login</a>
        <a href="{{ url_for('auth.register') }}">Register</a>
        
      {% endif %} 
      
    </nav>



      {% with messages = get_flashed_messages() %} 
        {% if messages %}
            {% for message in messages %}
                <p class="timed-flash-message" >{{ message }}</p>
            {% endfor %} 
        {% endif %} 
      {% endwith %}

    {% block content %}{% endblock %}
  </body>
</html>


<!-- i still need to add a user icon avatar to the nav bar that will redirect to the user view -->
<!-- I still need to fix up that homepage and have a button to allow you go to the user homepage -->